@import "../../style/variables";
@import "../../style/breakpointmixin";
@import "../../style/fontsizemixin";

.latestnews {
  padding: 10px;
  margin-left: 10px;
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
  .loading{
    margin: 10px;
  }
}
.items {
  margin-top: 15px;
  border-top: 1px solid #f4f5f8;
  div {
    height: 16px;
    width: 134px;
    @include font-source-sans(10px, $blue, bold, 16px);
    letter-spacing: -0.02px;
  }
}
.heading {
  display: flex;
  div {
    margin-left: 5px;
  }
}
