.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(321px, 1fr));
    grid-auto-rows: 252px;    
    gap: 1em;
}
.latestnews{
    grid-column: 3 / 4;
    grid-row: 1/3;
    overflow:auto;
    background-color: white;
    border-radius: 8px;

}