.container {
    letter-spacing: -0.025em;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
    line-height: 1.2;
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 1px solid #979797;
    margin-bottom: 2rem;
}