// Colors
$primary-background-color: #F4F5F8;
$primary-btn-color: #bb1e1e;
$primary-text-color: black;
$secondary-text-color: white;
$blue:#1E71BB;

// Fonts
$font-stack: Arial, Helvetica, sans-serif;

// Shadows
$box-shadow-button: 0 1px 2px -1px #c8cad1;

//Borders
$border-line: 1px solid rgba(151, 151, 151, 0.2);

