@import '../../style/buttons';
@import '../../style/variables';
@import "../../style/breakpointmixin";
@import "../../style/fontsizemixin";

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    @extend %btn;
    height: 63px;
    width: 63px;
    @include font-source-sans(14px, $primary-text-color);
    text-decoration: none;
    margin:0;
  }
  .svg {

    opacity: 0.5;
  }
  .text {

    opacity: 0.5;
  }
}

.activebtn {
  background-color: $secondary-text-color;
  box-shadow:$box-shadow-button;
  .svg {
    opacity: 1;
  }
  .text {
    opacity: 1;
  }
}

@include respond-to(medium) {

  .sidebar{
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
    a{
      height: 95px;
      width: 95px;
      @include font-source-sans(16px, $primary-text-color);
    }
  }
  
}

