.search {
    display: flex;
  height: 50px;
  width: 725px;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  button {
      margin:8px;
    height: 40px;
    width: 95px;
    border-radius: 6px;
    background-color: #bb1e1e;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: "Arial";
    border:none;
    
  }
}
.searchInput{
    flex-grow: 2;
    border:none;
    font-size:16px;
}
.searchSvg{
    margin:8px;
}
