@import '../../style/buttons';
@import '../../style/variables';
@import "../../style/breakpointmixin";
@import "../../style/fontsizemixin";

.search {
  display: flex;
  height: 50px;
  width: 725px;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  
}
.searchInput {
  flex-grow: 2;
  border: none;
  @include font-source-sans(16px);
  outline: none;
}
.searchSvg {
  margin: 8px;
}

@include respond-to(medium) {

  .search{
    height: 48px;
    width: 321px;
  }
  
}
