@import '../../style/buttons';
@import '../../style/variables';

.card{

    text-align: center;
    font-family: arial;
    border-radius: 8px;
    background-color: $secondary-text-color;
    box-shadow: $box-shadow-button;
}
.img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 321px;
    height: 170px;
}